/* I reorganized the file so that some of the least specific selectors that affect elements throughout the page come first.
After that, selectors follow the page chronologically as you would see each section in the html and on the webpage.
I added classes.
Then I consolodiated redundant attributes under common selectors. */

/* Universal */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Header/navbar. I made this fixed to the top of the page, since it seems to look nicer with the bar following as you scroll down. */

header.navigation {
    position: fixed;
    width: 100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header.navigation h1 {
    display: inline-block;
    font-size: 48px;
}

span.seo {
    color: #d9dcd6;
}

header.navigation nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 25px;
}

a.nav-link {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

img.meetingImg {
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Main content of the page */

main.goals {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main.goals section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main.goals img {
    max-height: 200px;
}

img.float-left {
    float: left;
    margin-right: 25px;
}

img.float-right {
    float: right;
    margin-left: 25px;
}

/* Sidebar content */

aside.benefits {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

aside.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

aside.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Copyright information */

footer.copyright {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer.copyright h2 {
    font-size: 20px;
}
